# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Environment variables
.env

# Compiled output
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/
